<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css" />
  <title>Document</title>
</head>

<body>
  <!-- div.profile>img -->
  <div class="profile"><img src="../images/116699480.png" alt="Profile Image"></div>
  <!-- h3.title -->
  <h3 class="title">Pyeonggi Kim</h3>
  <!-- p.content -->
  <p class="content">
    <span class="red">Full Stack</span> Developer
  </p>
  <!-- div.box -->
  <div class="box">안녕하세요 Pyeonggi Kim 입니다. <br>
    풀스택 수업을 듣습니다.
  </div>
</body>

</html>