/* 4. import 방식: CSS 내에서 다른 CSS 파일을 가져와 연결 */
/* main.css 파일의 해석이 끝나고 가져옴(해석 속도 느림, 일반적인 경우 권장 X) */
@import url('./box.css');

div {
  font-size: 40px;
  color: bisque;
  text-decoration: underline;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
